*{
    padding: 0;
    margin: 0;
}

img[name="phinma"]{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
}

.header{
    position: absolute;
    height: 140px;
    width: 50%;
    background: #4A8B2C;
    right: 0;
    top: 0;
}

.header-2{
    position: absolute;
    height: 20px;
    width: 50%;
    background: #D79A2B;
    right: 0;
    top:21%;
}

img[name="logo"]{
    position: absolute;
    height: 125px;
    width: 125px;
    border-radius: 100%;
    top: 5px;
    left: 5%;
}

p{
    position: absolute;
    font-family: arial;
    font-size: 30px;
    letter-spacing: 5px;
    color: white;
    left: 25%;
    top: 20%;
}

.border{
    position: absolute;
    border: 0.30px solid;
    width: 60%;
    top: 45%;
    left: 25%;
    color: white;
}

p1{
    position: absolute;
    top: 50%;
    left: 25%;
    color: white;
    font-family: arial;
    font-size: 15px;
    letter-spacing: 8px;
}

p2{
    position: absolute;
    right: 1%;
    font-size: 33px;
    font-family: arial;
    top: 30%;
}

p3{
    position: absolute;
    right: 37%;
    font-family: arial;
    font-size: large;
    top:43%;
}

input[name="fullname"]{
    position: absolute;
    right: 10%;
    top: 48%;
    border: 1px solid black;
    height: 25px;
    width: 450px;
    font-size: 15px;
}

p4{
    position: absolute;
    right: 37.4%;
    font-family: arial;
    font-size: large;
    bottom: 40%;
}

input[name="password"]{
    position: absolute;
    height: 25px;
    width: 450px;
    font-size: 15px;
    bottom: 34%;
    right: 10%;
    border: 1px solid black;
}

#login{
    position: absolute;
    height: 40px;
    width: 89px;
    background: #4A8B2C;
    bottom: 20%;
    right: 10%;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-family: arial;
}

#login:before{
    content: "Login";
    color: white;
}

#signup{
    position: absolute;
    height: 40px;
    width: 89px;
    background: #4A8B2C;
    bottom: 20%;
    right: 37%;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-family: arial;
}

#signup:before{
    content: "Signup";
    color: white;
}

p5{
    position: absolute;
    right: 10%;
    bottom: 30%;
    text-decoration: underline;
    font-style: italic;
    color: gray;
    cursor: pointer;
}

#loading{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
}

#load{
    position: absolute;
    top: 25%;
    left: 20%;
}
